/Project 1/controls_final.h5ad
/Project 1/granulomas_final.h5ad
/Project 1/sc78_final.h5ad
/Project 1/sc92_final.h5ad
/Project 1/sc93_final.h5ad 
/Project 2/granuloma 30/results/granulomas_clustered-003.h5ad
/Project 2/granuloma 30/results/granulomas_combat_corrected_scran-004.h5ad
/Project 2/granuloma 30/results/granulomas_final_raw.h5ad
/Project 2/granuloma 30/results/granulomas_harmony_corrected_scran-001.h5ad
/Project 2/granuloma 30/results/granulomas_lognorm_scran-002.h5ad
/Project 2/granuloma 30/results/granulomas_scanorama_corrected_scran-005.h5ad